<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="fr.codlab.cartes"
    android:versionCode="36"
    android:versionName="4.2" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="13" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.example.myapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fr.codlab.cartes.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" >
    </supports-screens>

    <application
        android:description="@string/app_desc"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/custom" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CardActivity" >
        </activity>
        <activity android:name=".CodesActivity" >
        </activity>
        <activity android:name=".ExtensionActivity" >
        </activity>

        <receiver
            android:name=".push.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="fr.codlab.cartes" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="fr.codlab.cartes" />
            </intent-filter>
        </receiver>
    </application>

</manifest>